<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #0b1f52;">
    <div class="container-fluid">
        <a class="navbar-brand" href="/product">
            <img src="https://iili.io/HCFeBmG.png" alt="Logo" width="150" class="d-inline-block align-text-top">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-autso">
                <div class="d-flex justify-content-between">

                    <li class="nav-item active dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            Produits
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <li><a class="dropdown-item" href="/product">Gérer Produits</a></li>
                            <li><a class="dropdown-item" href="/laboratoire">Gérer Laboratoire</a></li>
                            <li><a class="dropdown-item" href="/famille">Gérer Famille</a></li>
                        </ul>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/fournisseur">Fournisseurs</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/utilisateur">Utilisateurs</a>
                    </li>

                    <li class="nav-item active dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            Commandes
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <li><a class="dropdown-item" href="/commande">Passer Commande</a></li>
                            <li><a class="dropdown-item" href="/factureAchat">Ajouter Facture</a></li>
                        </ul>
                    </li>

                </div>
            </ul>
        </div>
    </div>
</nav>